/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset", "compass";

div {

		width: 500px;
		height: 100px;
		margin: 0 auto;
		padding-top: 100px;

	.przycisk{
		font-family: Verdana, sans-serif;
		font-size: 24px;
		color: #fff;
		background: rgba(0,102,51,.8);
		border-radius: 10px;
		border: 1px solid #666;
		box-shadow: 2px 2px 1px black;
	}

}
